{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'main/css/Main-page.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
      {% block content %}
      {% endblock %}
<div class="mainDiv">
      <div class="campTitle">Название санатория</div>
      <div class="welcomeText">Добро пожаловать</div>
      <div class="login"><a class="btn" href="{% url 'register' %}">Регистрация</a></div>

      <div class="allLinks">
      <div class="link"><a href="{% url 'rules' %}">Правила для отдыхающих</a></div>
          {% if user.is_authenticated %}
      <div class="link"><a href="{% url 'daily-view' %}">Процедурная книжка</a></div>
          {% endif %}
      <div class="link"><a href="{% url 'rules' %}">Услуги</a></div>
      <div class="link"><a href="{% url 'map' %}">Схема</a></div>
      <div class="link"><a href="{% url 'posters' %}">Афиша</a></div>
      <div class="link"><a href="{% url 'link' %}">Связь</a></div>
      <div class="link"><a href="{% url 'review' %}">Отзывы</a></div>

      </div>
</div>
<script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }

</script>
</body>
</html>