{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Связь</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

<header>Связь</header>

<div class="mainGradientt" style="font-family: 'IBM Plex Sans'; padding: 10px 20px; font-size: 25px;">


            <div class='quest'>Возник вопрос? Звоните нам!</div>
            {% for link in links %}
            <div style="font-weight: 600; margin-top: 6%;">{{ link.title|default:"" }}</div>
            <div style="text-align: left; font-size: 23px; margin-top: 3%; margin-bottom: 3%;">{{ link.content|default:"" }}</div>
            <a style="color: #3F92D2; font-size: 23px;" href=`tel:{{ link.tel1|default:"" }}`>{{ link.tel1|default:"" }}</a>
            <a style="color: #3F92D2; font-size: 23px;" href=`tel:{{ link.tel2|default:"" }}`>{{ link.tel2|default:"" }}</a>
            <a style="color: #3F92D2; font-size: 23px;" href=`tel:{{ link.tel3|default:"" }}`>{{ link.tel3|default:"" }}</a>
            {% endfor %}

            <img src="../../../static/main/assets/фонсвязи.png" />

    <div class="buttonsBack" style="margin-top: -5%;">
        <a class="buttonBack" href="{% url 'home' %}">Главная</a>
    </div>
</div>

<script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }

</script>
</body>
</html>



