{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'main/css/rew.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'jquery-bar-rating-master/dist/themes/fontawesome-stars.css' %}">
    <script src="{% static 'jquery-bar-rating-master/dist/jquery.barrating.js' %}"></script>
    <title>Отзывы</title>
</head>
<body>
            
      <div class="mainGradient">

        <header>
            Отзывы
        </header>
{% block content %}
        {% if user.is_authenticated %}
        <form action="{% url 'review' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="button">Отправить</button>
        </form>
        {% else %}
        <p style="display: flex; flex-direction: column; align-items: flex-start;">
  Чтобы оставить отзыв, необходимо
  <a class="buttonBack" href="{% url 'register' %}" style="align-self: flex-start; margin-top: 50px;">
    зарегистрироваться
  </a>
</p>
        {% endif %}
        <hr>

       {% for review in reviews %}
  {% if review.text %}
    <div class="comment">
      <div class="commentTitle">{{ review.user.username }} <small>{{ review.date }}</small></div>
      <div class="commentText">{{ review.text }}</div>
      {% if review.rating %}
        <div class="commentText">{{ review.rating }}</div>
      {% endif %}
    </div>
  {% elif review.rating %}
    <div class="comment">
      <div class="commentTitle">{{ review.user.username }} <small>{{ review.date }}</small></div>
      <div class="commentText">{{ review.rating }}</div>
    </div>
  {% endif %}
{% endfor %}
        {% endblock %}


    


        <div class="buttonsBack">
            <a class="buttonBack" href="{% url 'home' %}">Главная</a>
        </div>
    </div>

<script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }

</script>
</body>
</html>