{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Афиша</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
</head>
<!-- - {{ schedule.end_time }}-->
<body>
  <div class="mainGradient">
 {% if user.is_authenticated %}
 <header>
    Добрый день, {{ user.username }} , это ваше расписание
    {% endif %}</header>
{% for weekday, schedules in weekday_schedules.items %}
<div class="dayWeek">{{ weekday.title }}</div>
  {% if schedules %}
  <div class="event">
      {% for schedule in schedules %}
        {% if schedule.start_time and schedule.end_time %}
          <div class="oneRules">
            {% if schedule.schedule %}
            <div class="time">{{ schedule.start_time }}</div>
          </div>
          <div class="vertEvent">
            <div class="oneVert">
            <div class="lo">{{ schedule.schedule }}</div>
            {% else %}
            <div class="start">{{ schedule.start_time }}</div>
            {% endif %}
            {% if schedule.description %}
              <div class="place">( {{ schedule.description }} )</div>
            {% endif %}
          </div>
          </div >
        </div>
        {% endif %}
      {% endfor %}
        </div>
  {% else %}
    <p>No schedule set for {{ weekday }}.</p>
  {% endif %}
{% endfor %}

   <div class="buttonsBack">
        <a class="buttonBack" href="{% url 'daily' %}">Рассписание дня</a>
        <a class="buttonBack" href="{% url 'rules' %}">Правила</a>
        <a class="buttonBack" href="{% url 'home' %}">Главная</a>
    </div>
<script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }

</script>
</div>
</body>
</html>