body{
    margin: 0;
    font-family: 'IBM Plex Sans';
}
.mainDiv{
    margin: -40px auto 0 auto;
    background-image: url("../assets/Рисунок1.png");
    background-repeat: no-repeat;
    background-position: center center;
background-size: 115%;
}
.campTitle{
padding-top: 40px;
text-align: center;
background-color: white;
width:100%;
font-style: normal;
font-weight: 400;
font-size: 18px;
}
.welcomeText{
width: 50%;
font-family: 'Lobster';
text-shadow: 2px 3px red;
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
color: white;
margin-top:60px;
margin-left: auto;
margin-right: auto;
}
.login{
font-family: "Lobster";
margin: 20% auto 25% auto;
width: 50%;
text-align: center;
padding: 10px 20px;
background: rgba(255, 255, 255, 0.85);
border-radius: 10px;
text-transform: uppercase;
font-style: normal;
font-weight: 500;
font-size: 22px;
}
.loginus{
font-family: "Lobster";
margin: 20% auto 25% auto;
width: 50%;
text-align: center;
padding: 10px 20px;
/*background: rgba(255, 255, 255, 0.85);*/
border-radius: 0;
text-transform: uppercase;
font-style: normal;
font-weight: 500;
font-size: 22px;
}
.link{
padding: 10px;
white-space: normal;
background: rgba(255, 255, 255, 0.8);
border: 1px solid #176BE9;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.linkus {
  padding: 10px;
  white-space: normal;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #176BE9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 160px; /* Измените число для нужной вам ширины */
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "Lobster";
}

.allLinks{
    margin:60px auto 0 auto;
    text-align: center;
    font-size: 18px;
    display: grid;
    font-family: "Lobster";
    padding-bottom: 30px;
    justify-content: center;
    grid-template-columns: 150px 150px;
    column-gap: 25px;
    row-gap: 25px;
}
a{
    font-weight: 500;
    align-items: center;
    color: #000000;
    text-decoration: none;
}